<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <processors>
      <uiRenameItem>
        <processor type="Sitecore.Shell.Framework.Pipelines.RenameItem,Sitecore.Kernel" method="RepairLinks" set:type="Sitecore.Support.Shell.Framework.Pipelines.RenameItem,Sitecore.Support.192299" />
      </uiRenameItem>
    </processors>
  </sitecore>
</configuration>